@font-face {
  font-family: "Jomhuria-Regular";
  src: url("../public/fonts/Jomhuria-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Jost-Regular";
  src: url("../public/fonts/Jost-Regular.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-body);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

ul,
li,
p,
h1,
h2,
h3,
nav,
button,
span,
a,
main {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
}

button {
  border: none;
}
:root {
  /* Sizes */
  --header-height-mobile: 3rem;
  --header-height-tablet: clamp(4rem, 7vw, 8rem);

  /* Colors */
  --background-body: #27262e;
  --header-bg: black;
  --dropdown-link: #ffd1a7;

  --text-logo: #e9dbd0;

  --colored-text-yellow: #ecd269;
  --colored-text-green: #83d776;
  --colored-text-blue: #5cade7;
  --colored-text-purple: #ca88e8;
  --colored-text-orange: #f37a46;

  --colored-text-grey: #1e1d1c;
  --colored-text-whiteish: #ece9e6;

  --button-pink: #ee76a8;
  /* Fonts */
  --font-logo: "Jomhuria-Regular";
  --font-text: "Jost-Regular";

  /* Border Radius */
  --border-radius: 12px;

  /* Buttons */
  --button-resume-width-mobile: clamp(6rem, 9vw, 6rem);
  --button-resume-width-tablet: clamp(9rem, 9vw, 12rem);
}
