.section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.textCommon {
  text-align: center;
  font-family: var(--font-logo);
  font-weight: 100;
}

.h1 {
  color: var(--header-bg);
  font-family: var(--font-logo);
}

.pLineHeight {
  line-height: 2rem;
}
.p1 {
  color: var(--colored-text-yellow);
  font-size: 3.5rem;
}
.p2 {
  color: var(--colored-text-green);
  font-size: 2.5rem;
  margin-top: 1rem;
}
.p3 {
  color: var(--colored-text-blue);
  font-size: 2.5rem;
}
.p4 {
  color: var(--colored-text-purple);
  font-size: 2.5rem;
}

.picture {
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-flow: row nowrap;
}

@media (min-width: 0px) {
  .section {
    height: calc(100vh - var(--header-height-mobile));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .buttonContainer {
    margin-top: 3rem;
    gap: 2.5rem;
  }
  .h1 {
    font-size: 6rem;
    color: var(--header-bg);
    font-family: var(--font-logo);
    line-height: 3rem;
    margin-bottom: 0.5rem;
  }

  .pLineHeight {
    line-height: 2rem;
  }
  .p1 {
    color: var(--colored-text-yellow);
    font-size: 3.5rem;
  }
  .p2 {
    color: var(--colored-text-green);
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  .p3 {
    color: var(--colored-text-blue);
    font-size: 2.5rem;
  }
  .p4 {
    color: var(--colored-text-purple);
    font-size: 2.5rem;
  }
}

@media (min-width: 401px) {
  .section {
    position: relative;
    top: var(--header-height-tablet);
    height: calc(100vh - var(--header-height-tablet));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .buttonContainer {
    gap: 2.5rem;
  }
  .h1 {
    font-size: clamp(6rem, 25vw, 10rem);
    color: var(--header-bg);
    font-family: var(--font-logo);
    line-height: clamp(2rem, 8vw, 6rem);
    margin-bottom: 0.5rem;
  }
  .pLineHeight {
    line-height: clamp(2.4rem, 5vw, 2rem);
  }
  .p1 {
    color: var(--colored-text-yellow);
    font-size: clamp(4rem, 15vw, 6rem);
  }
  .p2 {
    color: var(--colored-text-green);
    font-size: clamp(3rem, 12vw, 4rem);
  }
  .p3 {
    color: var(--colored-text-blue);
    font-size: clamp(3rem, 12vw, 4rem);
  }
  .p4 {
    color: var(--colored-text-purple);
    font-size: clamp(3rem, 12vw, 4rem);
  }
}
